{% extends 'base.html' %}
{% block title %}{{ title_tab }}{% endblock %}
{% block title_page %}{{ title1 }}{% endblock %}
{% load custom_tags %}
{% block content %}
<div class="col-md-6 col-lg-6 mb-4">
    <div class="card shadow-sm">
        <div class="card-header bg-success-subtle">
            <h5 class="card-title mb-0 text-success">{{ ingredient.name }}</h5>
            <ul>
                <li>{{ ingredient|verbose_name:"default_unit" }}: {{ ingredient.get_default_unit_display }}</li>
                <li>{{ ingredient|verbose_name:"food_type" }}:
                    {{ ingredient.get_food_type_display }}</li>
                <li>{{ ingredient|verbose_name:"diet_type" }}:
                    {{ ingredient.get_diet_type_display }}</li>
                <li>{{ ingredient|verbose_name:"protein_per_100g" }}:
                    {{ ingredient.protein_per_100g }}
                </li>
                <li>{{ ingredient|verbose_name:"carbs_per_100g" }}:
                    {{ ingredient.carbs_per_100g }}
                </li>
                <li>{{ ingredient|verbose_name:"fats_per_100g" }}:
                    {{ ingredient.fats_per_100g }}
                </li>
                <li>{{ ingredient|verbose_name:"average_piece_weight" }}:
                    {{ ingredient.average_piece_weight }}
                </li>
                <small class="text-muted">
                    {{ ingredient|verbose_name:"created_at" }}:
                    {{ ingredient.created_at }} -
                    {{ ingredient|verbose_name:"updated_at" }}:
                    {{ ingredient.updated_at }}
                </small>
            </ul>
        </div>
    </div>
</div>
<a href="{% url 'nutrition:ingredients_update' ingredient.pk %}"
   class="btn btn-outline-primary btn-sm">Modifier</a>
<a href="{% url 'nutrition:ingredients_list' %}"
   class="btn btn-outline-primary btn-sm">Retour aux ingrédients</a>
<a href="{% url 'nutrition:plates_list' %}"
   class="btn btn-outline-primary btn-sm">Retour aux assiettes</a>
{% endblock %}