{% extends 'base.html' %}
{% block title %}{{ title_tab }}{% endblock %}
{% block title_page %}{{ title1 }}{% endblock %}
{% block content %}

<h2>Données de la fiche</h2>
<ul>
    <li>Utilisateur: {{ plate.user }} </li>
    <li>Nom: {{ plate.name }} </li>
    <li>Date création.: {{ plate.created_at }} </li>
    <li>Date modif.: {{ plate.updated_at }} </li>
</ul>
{% if plate.ingredients.exists %}
    <h2>Liste des ingrédients :</h2>
    <ul>
    {% for plate_ingredient in plate.ingredients.all %}
        <li><strong>{{ plate_ingredient.quantity }}
            {{ plate_ingredient.display_unit }}
            {{ plate_ingredient.ingredient.name }}</strong>
            <ul>
                <li>Type d'aliment:
                    {{ plate_ingredient.ingredient.get_food_type_display }}</li>
                <li>Type de régime:
                    {{ plate_ingredient.ingredient.get_diet_type_display }}</li>
                <li>Protéines pour 100g:
                    {{ plate_ingredient.ingredient.protein_per_100g }}
                </li>
                <li>Protéines pour 100g:
                    {{ plate_ingredient.ingredient.carbs_per_100g }}
                </li>
                <li>Glucides pour 100g:
                    {{ plate_ingredient.ingredient.carbs_per_100g }}
                </li>
                <li>Lipides pour 100g:
                    {{ plate_ingredient.ingredient.fats_per_100g }}
                </li>
                <li>Poids moyen par pièce (g):
                    {{ plate_ingredient.ingredient.average_piece_weight }}
                </li>
                <li>Date création:
                    {{ plate_ingredient.ingredient.created_at }} -
                    Date de modification:
                    {{ plate_ingredient.ingredient.updated_at }}
                </li>
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p class="text-muted small">Aucun ingrédient ajouté</p>
{% endif %}
<a href="{% url 'nutrition:plates_update_htmx' plate.pk %}"
   class="btn btn-outline-primary btn-sm">Modifier</a>
<a href="{% url 'nutrition:plates_list' %}"
   class="btn btn-outline-primary btn-sm">Retour à la liste</a>
{% endblock %}