{% extends 'base.html' %}
{% block title %}{{ title_tab }}{% endblock %}
{% block title_page %}{{ title1 }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit"
                class="btn btn-outline-danger btn-sm">
                Créer une assiette
        </button>
        <a href="{% url 'nutrition:plates_list' %}"
           class="btn btn-outline-primary btn-sm">Retour à la liste des assiettes</a>
    </form>
{% endblock %}